<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proaimltd.mybatis.model.mapper.CarMapper">
    <resultMap id="BaseResultMap" type="com.proaimltd.mybatis.model.entity.Car">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="car" jdbcType="VARCHAR" property="car"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, car, uid
    </sql>
    <select id="selectCarsByUserId" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_car
        where uid = #{uid,jdbcType=BIGINT}
    </select>
    <select id="selectCarByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_car
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteCarByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_car
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteCarByUid" parameterType="java.lang.Long">
        delete
        from t_car
        where uid = #{uid,jdbcType=BIGINT}
    </delete>
    <insert id="insertCar" parameterType="com.proaimltd.mybatis.model.entity.Car">
        insert into t_car (id, car, uid)
        values (#{id,jdbcType=BIGINT}, #{car,jdbcType=VARCHAR}, #{uid,jdbcType=BIGINT})
    </insert>
    <insert id="insertCarSelective" parameterType="com.proaimltd.mybatis.model.entity.Car">
        insert into t_car
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="car != null">
                car,
            </if>
            <if test="uid != null">
                uid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="car != null">
                #{car,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateCarByPrimaryKeySelective" parameterType="com.proaimltd.mybatis.model.entity.Car">
        update t_car
        <set>
            <if test="car != null">
                car = #{car,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateCarByPrimaryKey" parameterType="com.proaimltd.mybatis.model.entity.Car">
        update t_car
        set car = #{car,jdbcType=VARCHAR},
            uid = #{uid,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
