<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proaimltd.mybatis.model.mapper.UserMapper">

    <!-- collection嵌套结果集的方式，定义关联的集合类型元素的封装规则-->
    <!-- 嵌套结果集的方式，使用collection标签定义关联的集合类型的属性封装规则 -->
    <resultMap id="BaseResultMap" type="com.proaimltd.mybatis.model.entity.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

        <!--
        collection定义关联结合类型的属性的封装规则
        ofType：指定集合里面元素的类型
        -->

        <collection property="info"
                    column="id"
                    javaType="com.proaimltd.mybatis.model.entity.Info"
                    ofType="info"
                    fetchType="eager"
                    select="com.proaimltd.mybatis.model.mapper.InfoMapper.selectInfoByUserId"/>

        <collection property="cars"
                    column="id"
                    ofType="com.proaimltd.mybatis.model.entity.Car"
                    javaType="java.util.HashSet"
                    select="com.proaimltd.mybatis.model.mapper.CarMapper.selectCarsByUserId">
            <!-- 定义这个集合中元素的封装规则 -->
            <!--<id column="id" jdbcType="BIGINT" property="id"/>
            <result column="role_name" jdbcType="VARCHAR" property="roleName"/>-->
        </collection>

        <collection property="roles"
                    column="id"
                    select="com.proaimltd.mybatis.model.mapper.RoleMapper.selectRolesByUserId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, password, create_time, update_time
    </sql>
    <select id="selectUserByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteUserByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertUser" parameterType="com.proaimltd.mybatis.model.entity.User">
        insert into t_user (id, username, password,
                            create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertUserSelective" parameterType="com.proaimltd.mybatis.model.entity.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateUserByPrimaryKeySelective" parameterType="com.proaimltd.mybatis.model.entity.User">
        update t_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateUserByPrimaryKey" parameterType="com.proaimltd.mybatis.model.entity.User">
        update t_user
        set username    = #{username,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
